@import 'tailwindcss';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-mono: 'IBM Plex Mono', monospace;
}

@layer base {
  h1,
  h3,
  h2,
  h4,
  h5,
  h6 {
    color: var(--color-gray-900);
  }

  h1 {
    font-size: var(--text-2xl);
  }

  h2 {
    font-size: var(--text-xl);
  }

  h3 {
    font-size: var(--text-lg);
  }

  h4 {
    font-size: var(--text-base);
  }

  h5 {
    font-size: var(--text-sm);
  }

  h6 {
    font-size: var(--text-xs);
  }

  p {
    color: var(--color-gray-500);
  }

  @media (prefers-color-scheme: dark) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: var(--color-white);
    }

    p {
      color: (--color-gray-400);
    }
  }
}
